//
   Created by liyao on 3/14/16.

extends ../layouts/default

block content
    .container
        h1 Rewards Credit Cards Sample Data
        p.
            A rewards credit card can help you earn cash back, travel rewards and other perks with everyday purchases.
            Compare NerdWallet's best offers below, including some deals from our partners.

    .container
        div.col-lg-2
            h3 FILTERS
            div(id='annual_fee_content')
                h5 Annual Fee
                form
                    input(type='radio' name='annual_fee_option' value='1')
                    | Yes
                    br
                    input(type='radio' name='annual_fee_option' value='0')
                    | No
                    br

            div(id='card_network_content')
                h5 Card Network
                form
                    input(type='radio' name='card_network_option' value='0')
                    | Visa
                    br
                    input(type='radio' name='card_network_option' value='1')
                    | Mastercard
                    br
                    input(type='radio' name='card_network_option' value='2')
                    | Discover
                    br
                    input(type='radio' name='card_network_option' value='3')
                    | Amex
                    br

            div(id='credit_score_content')
                h5 Credit Score
                form
                    input(type='radio' name='credit_score_option' value='0')
                    | 720+
                    br
                    input(type='radio' name='credit_score_option' value='1')
                    | 690 - 719
                    br
                    input(type='radio' name='credit_score_option' value='2')
                    | 630 - 689
                    br
                    input(type='radio' name='credit_score_option' value='3')
                    | 300 - 629
                    br

        - var credit_cards = [['Capital One Venture Rewards Credit Card', "15.65% - 24.15% Variable*", "0% until November 2016", "$89", "$400"], ['Barclaycard Arrival Plus World Elite MasterCard', "23.9%", "N/A*", "$59", "$400"], ['Citi ThankYou Premier Card', "See terms*", "N/A*", "$95", "$500"], ['Chase Sapphire Preferred', "N/A*", "N/A*", "$95", "$500"], ['Citi Hilton HHonors Visa Signature Card', "11.24% – 23.24% Variable* on purchases & balance transfers", "N/A*", "$0", "$375"]];

        div.col-lg-10
            table#credit_cards.tablesorter(border='1')
                thead
                    tr
                        th Credit Card
                        th APR
                        th Balance Transfer
                        th Annual Fee
                        th Promotion
                tbody
                    for credit_card in credit_cards
                        tr
                            for card_info in credit_card
                                td= card_info