//
   Created by liyao on 3/14/16.

extends ../layouts/default

block content
    .container
        h1 Rewards Credit Cards Sample Data
        p.
            A rewards credit card can help you earn cash back, travel rewards and other perks with everyday purchases.
            Compare NerdWallet's best offers below, including some deals from our partners.