//
   Created by liyao on 3/14/16.

extends ../layouts/default

block content
    .container
        h1 Rewards Credit Cards Sample Data
        p.
            A rewards credit card can help you earn cash back, travel rewards and other perks with everyday purchases.
            Compare NerdWallet's best offers below, including some deals from our partners.

    .container
        div.col-lg-2
            h3 FILTERS
            p filters
            
        div.col-lg-10
            table(border="1")
                thead
                tr
                    th Credit Card
                    th APR
                    th Balance Transfer
                    th Annual Fee
                    th Promotion
                tbody
                tr
                    td Capital One Venture Rewards Credit Card
                    td 15.65% - 24.15% Variable*
                    td 0% until November 2016
                    td $89
                    td $400
                tr
                    td Barclaycard Arrival Plus World Elite MasterCard
                    td 23.9%
                    td N/A*
                    td $59
                    td $400