//
   Created by liyao on 3/14/16.

extends ../layouts/default

block content
    .container
        h1 Rewards Credit Cards Sample Data
        p.
            A rewards credit card can help you earn cash back, travel rewards and other perks with everyday purchases.
            Compare NerdWallet's best offers below, including some deals from our partners.

    .container
        div.col-lg-2
            h3 FILTERS
            div(id='annual_fee_content')
                h5 Annual Fee
                form
                    input(type='radio' name='annual_fee_option' value='1')
                    | Yes
                    br
                    input(type='radio' name='annual_fee_option' value='0')
                    | No
                    br

            div(id='card_network_content')
                h5 Card Network
                form
                    input(type='radio' name='card_network_option' value='0')
                    | Visa
                    br
                    input(type='radio' name='card_network_option' value='1')
                    | Mastercard
                    br
                    input(type='radio' name='card_network_option' value='2')
                    | Discover
                    br
                    input(type='radio' name='card_network_option' value='3')
                    | Amex
                    br

            div(id='credit_score_content')
                h5 Credit Score
                form
                    input(type='radio' name='credit_score_option' value='0')
                    | 720+
                    br
                    input(type='radio' name='credit_score_option' value='1')
                    | 690 - 719
                    br
                    input(type='radio' name='credit_score_option' value='2')
                    | 630 - 689
                    br
                    input(type='radio' name='credit_score_option' value='3')
                    | 300 - 629
                    br

        div.col-lg-10
            table#credit_cards.tablesorter(border="1")
                thead
                tr
                    th Credit Card
                    th APR
                    th Balance Transfer
                    th Annual Fee
                    th Promotion
                tbody
                tr
                    td Capital One Venture Rewards Credit Card
                    td 15.65% - 24.15% Variable*
                    td 0% until November 2016
                    td $89
                    td $400
                tr
                    td Barclaycard Arrival Plus World Elite MasterCard
                    td 23.9%
                    td N/A*
                    td $59
                    td $400